.notes {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  overflow-x: hidden;
}

.darkBg {
  background-image: url("./darkBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.notes h1 {
  font-size: 56px;
  color: #22577a;
  text-align: center;
  margin: 0;
}

.notes.dark h1 {
  color: white;
}

.notes-container {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  gap: 50px;
}

.add-notes {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-notes.dark {
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 0px;
  border: none;
  background-color: transparent;
}

.add-notes h2 {
  font-size: 42px;
  color: #00b4d8;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}

.add-notes.dark h2 {
  color: #8eecf5;
}

.add-note {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  border: 1px solid #d9d9d9;
}

.add-note.dark {
  border: 2px solid #d9d9d9;
}

.add-note.dark:focus,
.add-note.dark:hover {
  border: 2px solid white;
}

.add-note input {
  width: 88%;
  font-size: 22px;
  font-weight: 600;
  border: none;
  outline: none;
  padding: 10px 20px;
}

.add-note.dark input {
  background-color: transparent;
  color: white;
}

.add-note.dark input::placeholder {
  color: rgb(232, 230, 230);
}

.add-note input:active {
  border: none;
}

.add-note input:focus {
  border: none;
}

.add-note textarea {
  width: 88%;
  border: none;
  outline: none;
  font-size: 20px;
  height: 150px;
  padding: 20px;
}

.add-note.dark textarea {
  background-color: transparent;
  color: white;
}

.add-note.dark textarea::placeholder {
  color: rgb(232, 230, 230);
}

.add-note textarea:focus {
  border: none;
}

.add-note:hover {
  cursor: pointer;
  border: 1px solid #b8b7b7;
}

.add-notes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add {
  font-size: 22px;
  font-weight: 600;
  color: white;
  background-color: #0096c7;
  transition: all 0.4s ease-in-out;
  padding: 10px 12px;
  border: 1px solid #023e8a;
  border-radius: 10px;
  margin-left: 70%;
  margin-top: 20px;
}

.add:hover {
  cursor: pointer;
  background-color: #013e52;
  transform: translateY(5px);
}

.add.dark {
  background-color: #cae9ff;
  color: #1b4965;
  border: 1px solid #1b4965;
}

.add.dark:hover {
  cursor: pointer;
  background-color: #5fa8d3;
  transform: translateY(5px);
}

.save {
  font-size: 22px;
  font-weight: 600;
  color: white;
  background-color: #f08080;
  transition: all 0.4s ease-in-out;
  padding: 10px 12px;
  border: 1px solid #a15454;
  border-radius: 10px;
  margin-left: 70%;
  margin-top: 20px;
}

.save.dark {
  background-color: #f8e3e0;
  color: #e85d5a;
  border: 1px solid #e85d5a;
}

.save.dark:hover {
  cursor: pointer;
  background-color: #f9c0b6;
  transform: translateY(5px);
}

.current-notes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 30px;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.current-notes.dark {
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 0px;
  border: none;
  background-color: transparent;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input {
  width: 100%;
  padding: 8px 10px;
  font-size: 20px;
  border-radius: 10px;
}

.search-container.dark input {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.search-container.dark input::placeholder {
  color: rgb(232, 230, 230);
}

.note {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 20px;
  gap: 10px;
  border: 1px solid #cdb4db;
  background-color: #f8edeb;
}

.note.dark {
  border: 2px solid #bde0fe;
  background-color: transparent;
}

.note-title p {
  margin: 0;
  margin-bottom: 10px;
}

.note-title.dark p {
  color: white;
}

.note-text p {
  margin: 0;
}

.note-text.dark p {
  color: white;
}

.note-content .note-title {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
}

.note-content .note-text {
  font-size: 20px;
  font-weight: 400;
}

.note-content .date-time {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0;
}

.date-time.dark {
  color: white;
}

.note-btn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.note-btn button {
  background-color: transparent;
  border: none;
  transition: all 0.4s ease-in-out;
}

.fa-edit {
  font-size: 26px;
}

.fa-edit::before {
  font-size: 24px;
}

.fa-edit.dark {
  color: white;
}

.fa-trash-o {
  font-size: 26px;
  color: red;
}

.fa-trash-o::before {
  font-size: 24px;
}

.fa-trash-o.dark {
  color: rgb(253, 0, 0);
}
.note-btn button:hover {
  cursor: pointer;
  transform: translateX(5px);
}

.theme {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 100px;
}

.theme-icon {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f8edeb;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.theme-icon:hover {
  cursor: pointer;
}

.theme-icon img {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 1300px) {
  .notes-container {
    grid-template-columns: 1fr 2fr;
  }

  .add-note input {
    width: 80%;
  }

  .add-note textarea {
    width: 80%;
  }
}

@media screen and (max-width: 1080px) {
  .note {
    flex-direction: column;
  }

  .note-btn {
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media screen and (max-width: 992px) {
  .notes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .add-notes {
    width: 80%;
  }

  .add-note input {
    width: 90%;
  }

  .add-note textarea {
    width: 90%;
  }

  .note {
    flex-direction: row;
    justify-content: space-between;
  }

  .note-btn {
    width: max-content;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .theme {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 870px) {
  .note {
    flex-direction: column;
  }

  .note-btn {
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media screen and (max-width: 700px) {
  .add-notes {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .add-note input {
    width: 80%;
  }

  .add-note textarea {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .notes {
    padding: 30px;
  }

  .note-title p {
    font-size: 22px;
  }

  .note-text p {
    font-size: 18px;
  }
}
